<%- include('partials/header') %>
<h2>Sobre</h2>
<p>Kuromi é uma personagem icônica da Sanrio, conhecida por seu estilo único e personalidade cativante. Criada em 2005, Kuromi rapidamente se tornou um símbolo de rebeldia e charme, atraindo fãs de todas as idades. Com seu chapéu de coelho preto e uma expressão travessa, ela se destaca entre outras personagens da Sanrio, como Hello Kitty e My Melody. O que a torna tão especial é sua mistura de fofura e atitude, que ressoa com muitos jovens e adultos. Kuromi é frequentemente retratada como uma personagem que adora causar confusão, mas que também tem um lado gentil e protetor. A história de Kuromi se passa em um mundo de fantasia onde ela vive com seus amigos, incluindo o famoso personagem de Sanrio, My Melody. Kuromi é apresentada como uma rival de My Melody.</p>
<img src="https://www.pngall.com/wp-content/uploads/13/Kuromi-PNG-Free-Image.png" width="300" height="200">
<%- include('partials/footer') %>
