<footer class="footer">
    <div class="footer-content">

        <div class="footer-top">

            <!-- ESQUERDA: CONTATOS -->
            <div class="footer-left">
                <h4 class="footer-heading">Contatos</h4>

                <p class="footer-info">Fortaleza - CE</p>
                <p class="footer-info">(85) 9 8888-7777</p>

                <div class="footer-buttons">
                    <a href="https://www.instagram.com/coroinhas.saojose_?" target="_blank">
                        Instagram
                    </a>
                    <a href="https://wa.me/5585999999999" target="_blank">
                        WhatsApp
                    </a>
                </div>
            </div>

            <!-- CENTRO: MISSAS -->
            <div class="footer-center">
                <h4 class="footer-heading">Missas</h4>
                <p>Domingo | 05:00h | São Miguel</p>
                <p>Domingo | 07:00h | São José</p>
                <p>Domingo | 19:00h | Santa Luzia</p>
                <p>Domingo | 17:30h | Igreja Matriz</p>
            </div>

            <!-- DIREITA: COORDENAÇÃO -->
            <div class="footer-right">
                <h4 class="footer-heading">Coordenação</h4>
                <p>Anderson Dourado</p>
                <p>Vitória Saraiva</p>
                <p>Maria Clara (Capela São José)</p>
            </div>

        </div>

        <!-- PARTE DE BAIXO -->
        <p class="footer-title">
            Ministério de Coroinhas • Capela São José
        </p>

    </div>
</footer>
