<%- include("partials/header") %>

<div class="container">
  <h1 class="text-center mb-4">Área do Coordenador</h1>

  <div class="card shadow p-4">
    <h3 class="mb-3">Acesso à planilha</h3>

    <form id="loginCoordForm">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input id="nome" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input id="senha" type="password" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">
        Ver escala
      </button>
    </form>
  </div>
</div>

<%- include("partials/footer") %>

<script src="/js/loginCoordenador.js"></script>
