<%- include("partials/header") %>

<div class="container">
  <h1 class="text-center mb-4">Cadastro de Coroinhas</h1>

  <div class="card shadow p-4">
    <form id="cadastroForm">
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input id="nome" type="text" class="form-control" placeholder="Digite seu nome">
      </div>

      <div class="mb-3">
        <label class="form-label">Senha</label>
        <input id="senha" type="password" class="form-control" placeholder="Digite sua senha">
      </div>

      <div class="mb-3">
        <label class="form-label">Capela</label>
        <select id="capela" class="form-control">
          <option value="">Selecione sua capela</option>
          <option value="sj">Capela São José</option>
        </select>
      </div>

      <div class="text-center">
        <button class="btn btn-primary w-100">Cadastrar</button>
      </div>
    </form>
  </div>
</div>

<%- include("partials/footer") %>

<script src="/js/cadastro.js"></script>
