<%- include("partials/header") %>

<div class="container">
  <div class="card shadow text-center" style="padding: 0; border: none;"> 
    <div class="iframe-visor">
      <iframe 
        src="https://santo.cancaonova.com/" 
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<div class="container">
  <div class="card shadow text-center" style="padding: 0; border: none;">
    <div class="iframe-visor">
      <iframe 
        src="https://www.cnbb.org.br/liturgia-diaria/" 
        frameborder="0"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>

<div class="text-center mt-4 mb-4">
  <a href="/usuario" class="btn btn-primary me-2">Área do Coroinha</a>
  <a href="/admin" class="btn btn-primary">Área do Coordenador</a>
</div>

<%- include("partials/footer") %>
