<%- include('partials/header') %>
<h2>Página Inicial</h2>
<p>Esta página está dedicada a constução do meu primeiro site!
    Modificações ainda estão sendo feitas, então o site ainda não está pronto
</p>
<h5>Fique a vontade para dar uma olhada no meu desempenho</h5>
<%- include('partials/footer') %>
